@model Centek.Models.ViewModels.CategoryViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Categories</h1>
<div id="header" style="display: flex; gap: 10px; align-items: center;">
    <a asp-action="Create" class="btn btn-primary">Create New Main Category</a>
    <a asp-controller="SubCategories" asp-action="Create" class="btn btn-primary">Create New Sub Category</a>
</div>

@* list MainCategories *@
<h2>Main Categories</h2>
<table class="table-main">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.MainCategories.First().Name)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.MainCategories)
        {
            <tr>
                <td>@Html.DisplayFor(m => item.Name)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<hr />

@* list SubCategories *@
<h2>Sub Categories</h2>
<table class="table-sub">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.SubCategories.First().Name)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.SubCategories)
        {
            <tr>
                <td>@Html.DisplayFor(m => item.Name)</td>
                <td>
                    <a asp-controller="SubCategories" asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-controller="SubCategories" asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-controller="SubCategories" asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>