@model IEnumerable<Centek.Models.Account>

@{
    ViewData["Title"] = "Index";
}

<h1>Accounts</h1>

<div id="header" style="display: flex; gap: 10px; align-items: center;">
    <a asp-action="Create" class="btn btn-primary">Create New Account</a>
</div>
</br>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
